header {
  height: 100vh;
}

.landing-title {
  text-align: center;
  margin: 20vh auto auto auto;
}

.landing-subtitle {
  text-align: center;
  margin: 8vh auto auto auto;
}

.landing-contact {
  text-align: center;
  margin: 15vh auto auto auto;
}

.project {
  height: 100vh;
}

.contact-details {
  margin: 5vh auto auto auto;
  text-align: center;
}

.arrow {
  display: block;
  text-align: center;
  margin-top: 5vh; 
  font-size: 2.5rem;
  scroll-behavior: smooth;
}

.proj-title{
  margin: 10vh auto auto auto;
  text-align: center;
}

.proj-subtitle {
  font-size: 1.2rem;
  margin: 5vh auto auto auto;
  width: 50%;
  text-align: center;
}

.body-grid {
  display: grid;
  width: 100vw;
  height: 50vh;
  margin-top: 10vh;
  grid-template-areas: "img a" "img b";
  grid-template-columns: 1fr 1fr;
}

.screenshot {
  height: 50vh;
  max-width: 40vw;
  width: auto;
  object-fit: contain;
  border: 1px solid black;
  grid-area: img;
  place-self: center;
}

.proj-web {
  grid-area: a;
  place-self: center;
  font-size: 2rem;
}

.proj-git {
  grid-area: b;
  place-self: center;
  font-size: 2rem; 
}


